.navbar {
	position: fixed;
	width: 126px;
	top:0;
	bottom: 0;
	left: 0;
	border-right-color: #eee;
	border-right-style: solid;
	border-right-width: 2px;
	text-align: center;
	text-decoration: none;
	margin-right: 20px;
	clear: both;
	z-index: 10;
	padding-right: .5em;
	font-family: sans-serif; 


}
/* .box {
max-width: 49em;
float: center;
display: inline-block;
z-index:;



}
.box2 {
	width: 30%;
	display: inline-block;
	border-left-style: solid;
	border-left-width: 2px;
	margin: .5em;
	padding: 1em;

}

*/
.rightbar {
	position: fixed;
	/*float: right;*/
	width: 56px;
	top: 0;
	bottom: 0;
	right: 0;
	border-left-style: solid;
	border-left-width: 2px;
	text-align: center;
	text-decoration: none;
	float: right;
	clear: both;
	border-left-color: #eee;
	z-index: 10;
	font-family: sans-serif;
	


	